
# Data Science Job Salaries Analysis



### Columns Description

- **work_year**: The year in which the data was recorded.
- **experience_level**: The level of experience required for the job. Categories include:
  - 'EN' - Entry-level
  - 'MI' - Mid-level
  - 'SE' - Senior-level
  - 'EX' - Executive-level
- **employment_type**: The nature of employment. Types include:
  - 'FT' - Full-time
  - 'PT' - Part-time
  - 'CT' - Contract
  - 'FL' - Freelance
- **job_title**: The title of the job, e.g., 'Data Scientist', 'ML Engineer'.
- **salary**: The salary amount in the specified currency.
- **salary_currency**: The currency in which the salary is paid, e.g., USD, EUR.
- **salary_in_usd**: The salary converted into USD for standardization purposes.
- **employee_residence**: The country or region where the employee resides.
- **remote_ratio**: Indicates the extent to which a job is remote, with values like 0 (non-remote), 50 (partially remote), and 100 (fully remote).
- **company_location**: The location of the company offering the job.
- **company_size**: The size of the company, categorized as:
  - 'S' - Small (1-50 employees)
  - 'M' - Medium (51-250 employees)
  - 'L' - Large (251+ employees)

In [1]:
import IPython
import sys

def clean_notebook():
    IPython.display.clear_output(wait=True)
    print("Notebook cleaned.")
!pip install --upgrade pandasai
!pip install openai
!pip install gradio
!pip install python-dotenv

# Clean up the notebook
clean_notebook()

Notebook cleaned.

In [2]:
import os
from openai import OpenAI
from dotenv import load_dotenv

# Load environment variables
load_dotenv()

True

In [3]:
import os
import pandas as pd
from langchain_openai import OpenAI
from pandasai import SmartDataframe

llm =  OpenAI(api_key=os.getenv("OPENAI_API_KEY"))

In [4]:
df = pd.read_csv("./ds_salaries.csv")
df

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2023,SE,FT,Principal Data Scientist,80000,EUR,85847,ES,100,ES,L
1,2023,MI,CT,ML Engineer,30000,USD,30000,US,100,US,S
2,2023,MI,CT,ML Engineer,25500,USD,25500,US,100,US,S
3,2023,SE,FT,Data Scientist,175000,USD,175000,CA,100,CA,M
4,2023,SE,FT,Data Scientist,120000,USD,120000,CA,100,CA,M
...,...,...,...,...,...,...,...,...,...,...,...
3750,2020,SE,FT,Data Scientist,412000,USD,412000,US,100,US,L
3751,2021,MI,FT,Principal Data Scientist,151000,USD,151000,US,100,US,L
3752,2020,EN,FT,Data Scientist,105000,USD,105000,US,100,US,S
3753,2020,EN,CT,Business Data Analyst,100000,USD,100000,US,100,US,L
3754,2021,SE,FT,Data Science Manager,7000000,INR,94665,IN,50,IN,L

In [8]:
dfs = SmartDataframe(df, config={"llm": llm})
dfs

## Question: What is the average salary in USD for all job titles?

Solution:
df['salary_in_usd'].mean()

137570.38988015978

## Question: Which job title has the highest average salary?

Solution: df.groupby('job_title')['salary_in_usd'].mean().idxmax()

## Question: What is the median salary in USD for data scientists?

Solution: df[df['job_title'] == 'Data Scientist']['salary_in_usd'].median()

## Question: How many jobs are fully remote (remote_ratio = 100)?
Solution:df[df['remote_ratio'] == 100].shape[0]

## Question: Which company location has the highest number of employees?

Solution: df['company_location'].value_counts().idxmax()

## Question: What percentage of employees work in small-sized companies?
Solution:(df['company_size'] == 'S').mean() * 100

## Question: What is the most common employment type?
Solution:df['employment_type'].mode()[0]

## Question: Find the range of salaries in USD for machine learning engineers.
Solution: df[df['job_title'] == 'ML Engineer']['salary_in_usd'].agg(['min', 'max'])

## Question: How many employees work in medium-sized companies?

In [1]:
# Solution: df[df['company_size'] == 'M'].shape[0]

## Question: What is the average salary for 'Data Analyst' positions in the US?

In [2]:
# Solution: df[(df['job_title'] == 'Data Analyst') & (df['employee_residence'] == 'US')]['salary_in_usd'].mean()

## Question: Which experience level has the highest average salary?

In [3]:
# Solution: df.groupby('experience_level')['salary_in_usd'].mean().idxmax()

## Question: How many employees have 'EN' (Entry-level) experience?

In [4]:
# Solution: df[df['experience_level'] == 'EN'].shape[0]

## Question: What is the total number of employees in the dataset?

In [5]:
# Solution: df.shape[0]

## Question: How many different salary currencies are used in the dataset?

In [6]:
# Solution:df['salary_currency'].nunique()

## Question: What is the most frequent job title in the dataset?

In [20]:
# Solution:df['job_title'].mode()[0]

'Data Engineer'

## Question: Find the average remote ratio for 'Senior-level' positions.

In [7]:
# Solution:df[df['experience_level'] == 'SE']['remote_ratio'].mean()

## Question: Which job title has the lowest average salary?

In [8]:
# Solution:df.groupby('job_title')['salary_in_usd'].mean().idxmin()

## Question: How many different employment types are represented in the dataset?

In [23]:
# Solution:df['employment_type'].nunique()

4

## Question: What is the average salary difference between remote and non-remote jobs?

In [9]:
# Solution:df[df['remote_ratio'] == 100]['salary_in_usd'].mean() - df[df['remote_ratio'] != 100]['salary_in_usd'].mean()

## Question: How many employees are located in 'CA' (Canada)?

In [10]:
# Solution:df[df['employee_residence'] == 'CA'].shape[0]

## Question: What is the most common company size?

In [11]:
# Solution:df['company_size'].mode()[0]

## Question: How many employees work in large-sized companies?

In [12]:
# Solution:df[df['company_size'] == 'L'].shape[0]

## Question: Find the maximum salary in USD for 'Data Engineer' positions.

In [13]:
# Solution:df[df['job_title'] == 'Data Engineer']['salary_in_usd'].max()

## Question: What is the average salary in EUR?

In [14]:
# Solution:df[df['salary_currency'] == 'EUR']['salary'].mean()

## Question: Which country has the most remote jobs?

In [15]:
# Solution:df[df['remote_ratio'] == 100]['employee_residence'].value_counts().idxmax()

## Question: How many job titles have an average salary above $100,000?

In [16]:
# Solution:(df.groupby('job_title')['salary_in_usd'].mean() > 100000).sum()

## Question: What is the most common employee residence country?

In [17]:
# Solution:df['employee_residence'].mode()[0]

## Question: Find the average salary for each company size category.

In [18]:
# Solution:df.groupby('company_size')['salary_in_usd'].mean()

## Question: Which job title has the most employees?

In [19]:
# Solution:df['job_title'].value_counts().idxmax()